In [1]:
import pandas as pd
from sqlalchemy import create_engine,text
import logging
import numpy as np

# Setup logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# DB connection
src_db = 'postgresql://postgres:postgres@pgdb:5432/Olympics'
trg_db = 'postgresql://postgres:postgres@pgdb:5432/OlympicsDW'

src_engine = create_engine(src_db)
trg_engine = create_engine(trg_db)

In [2]:
def extract(query, engine):
    """Extract data from the source database."""
    try:
        df = pd.read_sql_query(query, con=engine)
        logging.info(f"Data extracted successfully for query: {query}")
        return df
    except Exception as e:
        logging.error(f"Error extracting data: {e}")
        raise

def load(df, table_name, engine):
    """Load data into the target database."""
    try:
        df.to_sql(table_name, con=engine, if_exists='replace', index=False)
        logging.info(f"Data loaded into {table_name}")
    except Exception as e:
        logging.error(f"Error loading data into {table_name}: {e}")
        raise

In [3]:
# Extract source data
global_population_df = extract('SELECT * FROM globalpopulation', src_engine)
life_expectancy_df = extract('SELECT * FROM lifeexpectancy', src_engine)
list_of_countries_df = extract('SELECT * FROM listofcountriesareasbycontinent', src_engine)
mental_illness_df = extract('SELECT * FROM mentalillness', src_engine)
olympic_hosts_df = extract('SELECT * FROM olympichosts', src_engine)
olympic_medals_df = extract('SELECT * FROM olympicmedals', src_engine)
economic_df = extract('SELECT * FROM economic', src_engine)

2024-03-25 15:42:28,393 - INFO - Data extracted successfully for query: SELECT * FROM globalpopulation
2024-03-25 15:42:28,568 - INFO - Data extracted successfully for query: SELECT * FROM lifeexpectancy
2024-03-25 15:42:28,579 - INFO - Data extracted successfully for query: SELECT * FROM listofcountriesareasbycontinent
2024-03-25 15:42:28,674 - INFO - Data extracted successfully for query: SELECT * FROM mentalillness
2024-03-25 15:42:28,685 - INFO - Data extracted successfully for query: SELECT * FROM olympichosts
2024-03-25 15:42:28,768 - INFO - Data extracted successfully for query: SELECT * FROM olympicmedals
2024-03-25 15:42:28,777 - INFO - Data extracted successfully for query: SELECT * FROM economic

# DimCountry

In [4]:
# DimCountry(country_name, country_code, region)

# Rename col for consistency
olympic_medals_df_ = olympic_medals_df.rename(columns={'country_code': 'country_code_2', 'country_3_letter_code': 'country_code'})
life_expectancy_df_ = life_expectancy_df.rename(columns={'entity': 'country_name', 'country_3_letter_code': 'country_code'})
economic_df_ = economic_df.rename(columns={'country_3_letter_code': 'country_code'})

combined_df = list_of_countries_df.rename(columns={'country': 'country_name'}).copy()

# Merge with olympic medals for country code
combined_df = pd.merge(combined_df, olympic_medals_df_[['country_name', 'country_code']].drop_duplicates(), on='country_name', how='left')

# Merge + Prioritize non-null values
combined_df = pd.merge(combined_df, life_expectancy_df_[['country_name', 'country_code']].drop_duplicates(), on='country_name', how='left', suffixes=('', '_from_life'))
combined_df['country_code'] = combined_df.apply(lambda row: row['country_code'] if pd.notna(row['country_code']) else row['country_code_from_life'], axis=1)
combined_df.drop(columns='country_code_from_life', inplace=True)
combined_df = pd.merge(combined_df, economic_df_[['country_name', 'country_code']].drop_duplicates(), on='country_name', how='left', suffixes=('', '_from_econ'))
combined_df['country_code'] = combined_df.apply(lambda row: row['country_code'] if pd.notna(row['country_code']) else row['country_code_from_econ'], axis=1)
combined_df.drop(columns='country_code_from_econ', inplace=True)

# No duplicate country_name
combined_df = combined_df.drop_duplicates(subset=['country_name'], keep='first')
combined_df = combined_df[['country_name', 'country_code', 'region']]
combined_df = combined_df.sort_values(by=['country_name', 'country_code']).drop_duplicates(subset=['country_name'], keep='last')

# Reordering region and country name alphabetically
combined_df = combined_df.sort_values(by=['region', 'country_name'], ascending=[True, True])

combined_df.head(10)

                 country_name country_code  region
33                    Algeria          ALG  Africa
40                     Angola          AGO  Africa
76                      Benin          BEN  Africa
142                  Botswana          BOT  Africa
59               Burkina Faso          BUR  Africa
77                    Burundi          BDI  Africa
52                   Cameroon          CMR  Africa
170                Cape Verde          CPV  Africa
115  Central African Republic          CAF  Africa
66                       Chad          TCD  Africa

In [5]:
combined_df.to_sql('dimcountry', trg_engine, if_exists='append', index=False, method='multi')
print("Data successfully loaded into DimCountry.")

Data successfully loaded into DimCountry.

# DimTime

In [107]:
# DimTime (year, game_season)
# dim_time_df = olympic_hosts_df.drop_duplicates().rename(columns={'game_year': 'year'})
# dim_time_df = dim_time_df.sort_values(by=['year'], ascending=[True])
# dim_time_df = dim_time_df[['year', 'game_season']]
# dim_time_df.head(10)

    year game_season
52  1896      Summer
51  1900      Summer
50  1904      Summer
49  1908      Summer
48  1912      Summer
47  1920      Summer
46  1924      Winter
45  1924      Summer
44  1928      Winter
43  1928      Summer

In [6]:
# DimTime (year, game_season)
olympic_hosts_simple = olympic_hosts_df[['game_slug', 'game_year']].drop_duplicates()
olympic_medals_df = pd.merge(olympic_medals_df, olympic_hosts_simple, left_on='slug_game', right_on='game_slug', how='left')
olympic_medals_df.rename(columns={'game_year': 'year'}, inplace=True)
dim_time_df = olympic_hosts_df.drop_duplicates().rename(columns={'game_year': 'year'})
dim_time_df = dim_time_df.sort_values(by=['year'], ascending=True)
dim_time_df = dim_time_df[['year', 'game_season']]
dim_time_df.head(10)

    year game_season
52  1896      Summer
51  1900      Summer
50  1904      Summer
49  1908      Summer
48  1912      Summer
47  1920      Summer
46  1924      Winter
45  1924      Summer
44  1928      Winter
43  1928      Summer

In [7]:
dim_time_df.to_sql('dimtime', trg_engine, if_exists='append', index=False)
print("DimTime populated successfully.")

DimTime populated successfully.

# DimAthlete

In [8]:
# DimAthlete (fullname, gender)
gender_map = {
    'Mixed': 'Mixed',
    'Women': 'Female',
    'Men': 'Male'
}
olympic_medals_df['gender'] = olympic_medals_df['event_gender'].map(gender_map)
olympic_medals_df.fillna({'gender': 'Team Event'}, inplace=True)
dim_athlete_df = olympic_medals_df[['athlete_full_name', 'gender']].drop_duplicates().rename(columns={'athlete_full_name': 'full_name'})
dim_athlete_df['full_name'] = dim_athlete_df['full_name'].replace('- -', np.nan)
dim_athlete_df['full_name'] = dim_athlete_df['full_name'].replace(r'^-\s.*', np.nan, regex=True)
dim_athlete_df.dropna(subset=['full_name'], inplace=True)
dim_athlete_df = dim_athlete_df.sort_values(by=['gender', 'full_name'], ascending=[True, True])

dim_athlete_df = dim_athlete_df[['full_name', 'gender']]
dim_athlete_df.head(10)

                      full_name  gender
8765              Aagje Ada KOK  Female
2658                Abir KHALIL  Female
459             Abishag SEMBERG  Female
2472             Adela SYKOROVA  Female
9509    Adelheid Barbara SCHMID  Female
2569             Adriana ARAUJO  Female
4344              Adriana BEHAR  Female
4040  Adriana CARMONA GUTIERREZ  Female
456     Adriana CEREZO IGLESIAS  Female
7075           Adriana DUNAVSKA  Female

In [9]:
dim_athlete_df.to_sql('dimathlete', trg_engine, if_exists='append', index=False)
print("DimAthlete populated successfully.")

DimAthlete populated successfully.

# DimEvent

In [10]:
# DimEvent (event_id, discipline, game_slug)
dim_event_df = olympic_medals_df[['event_title', 'discipline_title', 'slug_game']].drop_duplicates()
dim_event_df = dim_event_df.rename(columns={'discipline_title': 'discipline', 'slug_game': 'game_slug'})
dim_event_df = dim_event_df.sort_values(by=['game_slug', 'discipline'], ascending=[True, True])
dim_event_df.head(10)

                event_title     discipline         game_slug
6870         downhill women  Alpine Skiing  albertville-1992
6872  alpine combined women  Alpine Skiing  albertville-1992
6875             slalom men  Alpine Skiing  albertville-1992
6878          super-G women  Alpine Skiing  albertville-1992
6881    alpine combined men  Alpine Skiing  albertville-1992
6884            super-G men  Alpine Skiing  albertville-1992
6887           slalom women  Alpine Skiing  albertville-1992
6890       giant slalom men  Alpine Skiing  albertville-1992
6893     giant slalom women  Alpine Skiing  albertville-1992
6895           downhill men  Alpine Skiing  albertville-1992

In [11]:
dim_event_df.to_sql('dimevent', con=trg_engine, if_exists='append', index=False)
print("DimEvent populated successfully.")

DimEvent populated successfully.

# FactMedalWins

In [12]:
dim_country_df = extract('SELECT * FROM DimCountry', trg_engine)
dim_athlete_df = extract('SELECT * FROM DimAthlete', trg_engine)
dim_event_df = extract('SELECT * FROM DimEvent', trg_engine)
dim_time_df = extract('SELECT * FROM DimTime', trg_engine)

2024-03-25 15:42:43,879 - INFO - Data extracted successfully for query: SELECT * FROM DimCountry
2024-03-25 15:42:43,912 - INFO - Data extracted successfully for query: SELECT * FROM DimAthlete
2024-03-25 15:42:43,934 - INFO - Data extracted successfully for query: SELECT * FROM DimEvent
2024-03-25 15:42:43,939 - INFO - Data extracted successfully for query: SELECT * FROM DimTime

In [13]:
country_id_map = dim_country_df.set_index('country_name')['country_id'].to_dict()
athlete_id_map = dim_athlete_df.set_index('full_name')['athlete_id'].to_dict()
event_id_map = dim_event_df.set_index('event_title')['event_id'].to_dict()
time_id_map = dim_time_df.set_index('year')['time_id'].to_dict()

In [14]:
olympic_medals_df

,medal_id,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code,game_slug,year,gender
0,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA,beijing-2022,2022,Mixed
1,2,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA,beijing-2022,2022,Mixed
2,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR,beijing-2022,2022,Mixed
3,4,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR,beijing-2022,2022,Mixed
4,5,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE,beijing-2022,2022,Mixed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12835,21691,Wrestling,athens-1896,"Unlimited Class, Greco-Roman Men",Men,BRONZE,Athlete,None,None,Stefanos Khristopoulos,Greece,GR,GRE,athens-1896,1896,Male
12836,21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,None,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN,athens-1896,1896,Male
12837,21694,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,None,None,Alexandros Nikolopoulos,Greece,GR,GRE,athens-1896,1896,Male
12838,21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,None,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN,athens-1896,1896,Male
12839,21697,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,None,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,Greece,GR,GRE,athens-1896,1896,Male

In [15]:
olympic_medals_df['country_id'] = olympic_medals_df['country_name'].map(country_id_map)
olympic_medals_df.fillna({'athlete_full_name': 'Team Event'}, inplace=True)
olympic_medals_df['athlete_id'] = olympic_medals_df['athlete_full_name'].map(athlete_id_map)
olympic_medals_df['event_id'] = olympic_medals_df['event_title'].map(event_id_map)
olympic_medals_df['time_id'] = olympic_medals_df['year'].map(time_id_map)

In [16]:
fact_medal_wins_df = olympic_medals_df[['country_id', 'athlete_id', 'event_id', 'time_id', 'medal_type']]
fact_medal_wins_df = fact_medal_wins_df.dropna()
fact_medal_wins_df['athlete_id'] = fact_medal_wins_df['athlete_id'].astype(int)

In [17]:
fact_medal_wins_df.head(20)

    country_id  athlete_id  event_id  time_id medal_type
0          131        7368      5619       53       GOLD
1          131        7260      5619       53       GOLD
2          143        7310      5619       53     SILVER
3          143        7324      5619       53     SILVER
4          153        7259      5619       53     BRONZE
5          153        7349      5619       53     BRONZE
10         166        5474      1440       53     SILVER
11         153        7032      1440       53       GOLD
12          74        4155      1440       53     BRONZE
13         209        5613      1441       53       GOLD
14         153        4020      1442       53     BRONZE
15         143        2640      1442       53       GOLD
16         154        2163      1443       53     SILVER
17         154        6302      1443       53       GOLD
18         154        1293      1444       53     BRONZE
19         122        1797      1444       53     SILVER
20         199         829      1445       53       GOLD
22         166        1234      1447       53     SILVER
23         153        1627      1447       53       GOLD
24         123         404      1447       53     BRONZE

In [18]:
fact_medal_wins_df.to_sql('factmedalwins', trg_engine, if_exists='append', index=False)
print("FactMedalWins populated successfully.")

FactMedalWins populated successfully.

# OLAP 
## Cube Set Up

In [19]:
import atoti as tt
session = tt.Session(
    user_content_storage=".content",
    port=9092,
    java_options=["-Xms1G", "-Xmx10G"]
)

Welcome to Atoti 0.8.10!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

Atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, you can request a trial license at https://www.atoti.io/evaluation-license-request.

You can hide this message by setting the `ATOTI_HIDE_EULA_MESSAGE` environment variable to True.

2024-03-25 15:43:35,077 - INFO - Callback Server Starting
2024-03-25 15:43:35,079 - INFO - Closing down clientserver connection
2024-03-25 15:43:35,079 - INFO - Socket listening on ('127.0.0.1', 40385)
2024-03-25 15:43:40,307 - INFO - Callback Server Starting
2024-03-25 15:43:40,309 - INFO - Socket listening on ('127.0.0.1', 36695)
2024-03-25 15:43:41,025 - INFO - Closing down clientserver connection

In [20]:
dim_country_df = extract('SELECT * FROM DimCountry', trg_engine)
dim_athlete_df = extract('SELECT * FROM DimAthlete', trg_engine)
dim_event_df = extract('SELECT * FROM DimEvent', trg_engine)
dim_time_df = extract('SELECT * FROM DimTime', trg_engine)
fact_medal_wins_df = extract('SELECT * FROM FactMedalWins', trg_engine)

# Load dimension tables
dim_country_table = session.read_pandas(
    dim_country_df,
    table_name="Country",
    keys=["country_id"]
)
dim_athlete_table = session.read_pandas(
    dim_athlete_df,
    table_name="Athlete",
    keys=["athlete_id"]
)
dim_event_table = session.read_pandas(
    dim_event_df,
    table_name="Event",
    keys=["event_id"]
)
dim_time_table = session.read_pandas(
    dim_time_df,
    table_name="Time",
    keys=["time_id"],
    types={"year": tt.type.INT, "game_season": tt.type.STRING},
    default_values={"year": 0}
)
fact_medal_wins_table = session.read_pandas(
    fact_medal_wins_df,
    table_name="MedalWins",
    keys=["medal_win_id"]
)

2024-03-25 15:43:58,407 - INFO - Data extracted successfully for query: SELECT * FROM DimCountry
2024-03-25 15:43:58,456 - INFO - Data extracted successfully for query: SELECT * FROM DimAthlete
2024-03-25 15:43:58,487 - INFO - Data extracted successfully for query: SELECT * FROM DimEvent
2024-03-25 15:43:58,492 - INFO - Data extracted successfully for query: SELECT * FROM DimTime
2024-03-25 15:43:58,543 - INFO - Data extracted successfully for query: SELECT * FROM FactMedalWins

In [21]:
# Join fact table with the dimension tables
fact_medal_wins_table.join(dim_country_table, fact_medal_wins_table["country_id"] == dim_country_table["country_id"])
fact_medal_wins_table.join(dim_athlete_table, fact_medal_wins_table["athlete_id"] == dim_athlete_table["athlete_id"])
fact_medal_wins_table.join(dim_event_table, fact_medal_wins_table["event_id"] == dim_event_table["event_id"])
fact_medal_wins_table.join(dim_time_table, fact_medal_wins_table["time_id"] == dim_time_table["time_id"])

# Create cube
cube = session.create_cube(fact_medal_wins_table)

# Define measures and levels
m = cube.measures
l = cube.levels
h = cube.hierarchies

In [22]:
session.tables.schema

erDiagram
  "MedalWins" {
    _ long PK "medal_win_id"
    nullable long "country_id"
    nullable long "athlete_id"
    nullable long "event_id"
    nullable long "time_id"
    _ String "medal_type"
  }
  "Country" {
    _ long PK "country_id"
    _ String "country_name"
    _ String "country_code"
    _ String "region"
  }
  "Event" {
    _ long PK "event_id"
    _ String "discipline"
    _ String "game_slug"
    _ String "event_title"
  }
  "Time" {
    _ long PK "time_id"
    _ int "year"
    _ String "game_season"
  }
  "Athlete" {
    _ long PK "athlete_id"
    _ String "full_name"
    _ String "gender"
  }
  "MedalWins" }o--o| "Event" : "`event_id` == `event_id`"
  "MedalWins" }o--o| "Athlete" : "`athlete_id` == `athlete_id`"
  "MedalWins" }o--o| "Country" : "`country_id` == `country_id`"
  "MedalWins" }o--o| "Time" : "`time_id` == `time_id`"

In [23]:
h

{('Athlete', 'full_name'): <atoti.hierarchy.Hierarchy object at 0x7efe5ae52dd0>, ('Event', 'game_slug'): <atoti.hierarchy.Hierarchy object at 0x7efe5ae53d50>, ('Country', 'country_name'): <atoti.hierarchy.Hierarchy object at 0x7efe5ae53b90>, ('Event', 'discipline'): <atoti.hierarchy.Hierarchy object at 0x7efe5ae53c10>, ('Country', 'country_code'): <atoti.hierarchy.Hierarchy object at 0x7efe5ae53fd0>, ('Event', 'event_title'): <atoti.hierarchy.Hierarchy object at 0x7efe58574190>, ('MedalWins', 'medal_type'): <atoti.hierarchy.Hierarchy object at 0x7efe58574ed0>, ('Athlete', 'gender'): <atoti.hierarchy.Hierarchy object at 0x7efe58574f90>, ('MedalWins', 'medal_win_id'): <atoti.hierarchy.Hierarchy object at 0x7efe58575c10>, ('Time', 'game_season'): <atoti.hierarchy.Hierarchy object at 0x7efe58576250>, ('Country', 'region'): <atoti.hierarchy.Hierarchy object at 0x7efe58576090>}

# Hierarchies Clean Up

In [24]:
h["Athlete"] = [l["Athlete", "gender", "gender"], l["Athlete", "full_name", "full_name"]]
h["Country"] = [l["Country", "region", "region"], l["Country", "country_name", "country_name"], l["Country", "country_code", "country_code"]]
h["Event"] = [l["Event", "discipline", "discipline"], l["Event", "game_slug", "game_slug"], l["Event", "event_title", "event_title"]]
h["Time"] = [dim_time_table["game_season"], dim_time_table["year"]]

In [25]:
del h[('MedalWins', 'medal_type')]
del h[('MedalWins', 'medal_win_id')]

In [26]:
del h[('Athlete', 'full_name')]
del h[('Athlete', 'gender')]
del h[('Country', 'country_code')]
del h[('Country', 'country_name')]
del h[('Country', 'region')]
del h[('Event', 'event_title')]
del h[('Event', 'discipline')]
del h[('Event', 'game_slug')]
del h[('Time', 'game_season')]

In [27]:
h

{('Country', 'Country'): <atoti.hierarchy.Hierarchy object at 0x7efe5857a310>, ('Time', 'Time'): <atoti.hierarchy.Hierarchy object at 0x7efe5cced350>, ('Event', 'Event'): <atoti.hierarchy.Hierarchy object at 0x7efe585761d0>, ('Athlete', 'Athlete'): <atoti.hierarchy.Hierarchy object at 0x7efe5cabf3d0>}

# Measures Cleanup

In [28]:
del m["country_id.MEAN"]
del m["country_id.SUM"]
del m["athlete_id.SUM"]
del m["athlete_id.MEAN"]
del m["event_id.SUM"]
del m["event_id.MEAN"]
del m["time_id.SUM"]
del m["time_id.MEAN"]
del m["contributors.COUNT"]

In [29]:
m["Total Medals"] = tt.agg.count_distinct(fact_medal_wins_table["medal_win_id"])

# 1. Which country has won the most medals in a specific discipline over all Olympic Games?
m["Top Country by Discipline"] = tt.agg.max_member(
    m["Total Medals"], 
    l["country_name"]
)

# 2. Which discipline has gotten the most medals for a specific country for all Olympic Games?
m["Total Medals by Discipline"] = tt.agg.sum(
    m["Total Medals"],
    scope=tt.OriginScope(l["discipline"], l["region"])
)
m["Top Discipline per Region"] = tt.agg.max_member(
    m["Total Medals by Discipline"], 
    l["discipline"]
)

# 4. How has the performance (in terms of medals won) of a specific country evolved over different Olympic Games?
m["Medals per Game"] = tt.agg.count_distinct(
    fact_medal_wins_table["medal_win_id"]
)

# 5. Which athlete has participated in the most disciplines throughout their Olympic career?
m["Distinct Disciplines"] = tt.agg.count_distinct(
    fact_medal_wins_table["event_id"]
)

/opt/conda/lib/python3.11/site-packages/pydantic/_internal/_dataclasses.py:135: FutureWarning: The variadic constructor is deprecated, pass a named `levels` parameter instead.
  s.__pydantic_validator__.validate_python(ArgsKwargs(args, kwargs), self_instance=s)

In [30]:
m

{'update.TIMESTAMP': <atoti.measure.Measure object at 0x7efe585ad510>, 'Total Medals': <atoti.measure.Measure object at 0x7efe585ad0d0>, '__hidden_0_LEVEL': <atoti.measure.Measure object at 0x7efe585aedd0>, '__hidden_1_LEVEL': <atoti.measure.Measure object at 0x7efe585ac5d0>, 'Top Country by Discipline': <atoti.measure.Measure object at 0x7efe585ac710>, 'Total Medals by Discipline': <atoti.measure.Measure object at 0x7efe585ad450>, '__hidden_2_LEVEL': <atoti.measure.Measure object at 0x7efe585aca50>, 'Top Discipline per Region': <atoti.measure.Measure object at 0x7efe585aefd0>, 'Medals per Game': <atoti.measure.Measure object at 0x7efe585ac2d0>, 'Distinct Disciplines': <atoti.measure.Measure object at 0x7efe585afe10>}

In [31]:
session.link

http://localhost:9092 (This is the session's local URL: it may not be reachable if Atoti is running on another machine.)

# Business Query

In [32]:
import pandas as pd

pd.set_option('display.max_rows', None)

In [33]:
# 1. Which country has won the most medals in a specific discipline over all Olympic Games?
top_country_by_discipline = cube.query(
    m["Total Medals"],
    m["Top Country by Discipline"],
    levels=[l["discipline"]],
    filter=l["discipline"] == "Wrestling"
)
top_country_by_discipline.sort_values("Total Medals", ascending=False)

            Total Medals Top Country by Discipline
discipline
Wrestling            844                    Sweden

In [34]:
# 2. Which discipline has gotten the most medals for a specific region for all Olympic Games?
top_discipline_per_region = cube.query(
    m["Top Discipline per Region"],
    m["Total Medals"],
    levels=[l["region"]],
    filter=l["region"] == "Asia"
)
top_discipline_per_region.sort_values("Total Medals", ascending=False)

       Top Discipline per Region  Total Medals
region
Asia                   Wrestling          1067

In [35]:
top_discipline_per_region = cube.query(
    m["Top Discipline per Region"],
    m["Total Medals"],
    levels=[l["region"]],
)
top_discipline_per_region.sort_values("Total Medals", ascending=False)

              Top Discipline per Region  Total Medals
region
Europe                        Athletics          7342
Asia                          Wrestling          1067
North America                 Athletics           879
Oceania                        Swimming           649
Africa                        Athletics           410
South America                    Boxing           285

In [36]:
# 3. How does the medal distribution across gender categories compare within a 
#    specific discipline over the latest 6 game years?
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

In [37]:
# 4. How has the performance (in terms of medals won) of a specific country evolved over specific discipline?
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

In [38]:
# 5. Which athlete has participated in the most disciplines throughout their Olympic career?
# top_athlete_by_disciplines = cube.query(
#     m["Distinct Disciplines"],
#     levels=[l["Athlete", "full_name"]],
#     filter=l["gender"] != "Team Event"
# )

# # Sorting the result to find the athlete with the highest count
# top_athlete_by_disciplines = top_athlete_by_disciplines.sort_values("Distinct Disciplines", ascending=False).head(1)
# top_athlete_by_disciplines