In [5]:
import pandas as pd
from sqlalchemy import create_engine,text
import logging

# Setup logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# DB connection
src_db = 'postgresql://postgres:postgres@pgdb:5432/Olympics'
trg_db = 'postgresql://postgres:postgres@pgdb:5432/OlympicsDW'

src_engine = create_engine(src_db)
trg_engine = create_engine(trg_db)

In [6]:
def extract(query, engine):
    """Extract data from the source database."""
    try:
        df = pd.read_sql_query(query, con=engine)
        logging.info(f"Data extracted successfully for query: {query}")
        return df
    except Exception as e:
        logging.error(f"Error extracting data: {e}")
        raise

def load(df, table_name, engine):
    """Load data into the target database."""
    try:
        df.to_sql(table_name, con=engine, if_exists='replace', index=False)
        logging.info(f"Data loaded into {table_name}")
    except Exception as e:
        logging.error(f"Error loading data into {table_name}: {e}")
        raise

In [7]:
# Extract source data
global_population_df = extract('SELECT * FROM globalpopulation', src_engine)
life_expectancy_df = extract('SELECT * FROM lifeexpectancy', src_engine)
list_of_countries_df = extract('SELECT * FROM listofcountriesareasbycontinent', src_engine)
mental_illness_df = extract('SELECT * FROM mentalillness', src_engine)
olympic_hosts_df = extract('SELECT * FROM olympichosts', src_engine)
olympic_medals_df = extract('SELECT * FROM olympicmedals', src_engine)
economic_df = extract('SELECT * FROM economic', src_engine)

2024-03-24 11:08:04,685 - INFO - Data extracted successfully for query: SELECT * FROM globalpopulation
2024-03-24 11:08:04,754 - INFO - Data extracted successfully for query: SELECT * FROM lifeexpectancy
2024-03-24 11:08:04,758 - INFO - Data extracted successfully for query: SELECT * FROM listofcountriesareasbycontinent
2024-03-24 11:08:04,811 - INFO - Data extracted successfully for query: SELECT * FROM mentalillness
2024-03-24 11:08:04,817 - INFO - Data extracted successfully for query: SELECT * FROM olympichosts
2024-03-24 11:08:04,886 - INFO - Data extracted successfully for query: SELECT * FROM olympicmedals
2024-03-24 11:08:04,892 - INFO - Data extracted successfully for query: SELECT * FROM economic

# DimCountry

In [4]:
# DimCountry(country_name, country_code, region)

# Rename col for consistency
olympic_medals_df_ = olympic_medals_df.rename(columns={'country_code': 'country_code_2', 'country_3_letter_code': 'country_code'})
life_expectancy_df_ = life_expectancy_df.rename(columns={'entity': 'country_name', 'country_3_letter_code': 'country_code'})
economic_df_ = economic_df.rename(columns={'country_3_letter_code': 'country_code'})

combined_df = list_of_countries_df.rename(columns={'country': 'country_name'}).copy()

# Merge with olympic medals for country code
combined_df = pd.merge(combined_df, olympic_medals_df_[['country_name', 'country_code']].drop_duplicates(), on='country_name', how='left')

# Merge + Prioritize non-null values
combined_df = pd.merge(combined_df, life_expectancy_df_[['country_name', 'country_code']].drop_duplicates(), on='country_name', how='left', suffixes=('', '_from_life'))
combined_df['country_code'] = combined_df.apply(lambda row: row['country_code'] if pd.notna(row['country_code']) else row['country_code_from_life'], axis=1)
combined_df.drop(columns='country_code_from_life', inplace=True)
combined_df = pd.merge(combined_df, economic_df_[['country_name', 'country_code']].drop_duplicates(), on='country_name', how='left', suffixes=('', '_from_econ'))
combined_df['country_code'] = combined_df.apply(lambda row: row['country_code'] if pd.notna(row['country_code']) else row['country_code_from_econ'], axis=1)
combined_df.drop(columns='country_code_from_econ', inplace=True)

# No duplicate country_name
combined_df = combined_df.drop_duplicates(subset=['country_name'], keep='first')
combined_df = combined_df[['country_name', 'country_code', 'region']]

# Prioritize country code over NaN
combined_df = combined_df.sort_values(by=['country_name', 'country_code']).drop_duplicates(subset=['country_name'], keep='last')

combined_df.to_sql('dimcountry', trg_engine, if_exists='append', index=False, method='multi')
print("Data successfully loaded into DimCountry.")
combined_df

Data successfully loaded into DimCountry.

          country_name country_code   region
35         Afghanistan          AFG     Asia
138            Albania          ALB   Europe
33             Algeria          ALG   Africa
213     American Samoa          ASM  Oceania
202            Andorra          AND   Europe
..                 ...          ...      ...
226  Wallis and Futuna          WLF  Oceania
171     Western Sahara          ESH   Africa
43               Yemen          YEM     Asia
62              Zambia          ZAM   Africa
73            Zimbabwe          ZIM   Africa

[234 rows x 3 columns]

# DimTime

In [5]:
# DimTime (year, game_season)
dim_time_df = olympic_hosts_df.drop_duplicates().rename(columns={'game_year': 'year'})
dim_time_df = dim_time_df[['year', 'game_season']]
dim_time_df.to_sql('dimtime', trg_engine, if_exists='append', index=False)
print("DimTime populated successfully.")
dim_time_df

DimTime populated successfully.

    year game_season
0   2022      Winter
1   2020      Summer
2   2018      Winter
3   2016      Summer
4   2014      Winter
5   2012      Summer
6   2010      Winter
7   2008      Summer
8   2006      Winter
9   2004      Summer
10  2002      Winter
11  2000      Summer
12  1998      Winter
13  1996      Summer
14  1994      Winter
15  1992      Summer
16  1992      Winter
17  1988      Summer
18  1988      Winter
19  1984      Summer
20  1984      Winter
21  1980      Summer
22  1980      Winter
23  1976      Summer
24  1976      Winter
25  1972      Summer
26  1972      Winter
27  1968      Summer
28  1968      Winter
29  1964      Summer
30  1964      Winter
31  1960      Summer
32  1960      Winter
33  1956      Summer
34  1956      Winter
35  1952      Summer
36  1952      Winter
37  1948      Summer
38  1948      Winter
39  1936      Summer
40  1936      Winter
41  1932      Summer
42  1932      Winter
43  1928      Summer
44  1928      Winter
45  1924      Summer
46  1924      Winter
47  1920      Summer
48  1912      Summer
49  1908      Summer
50  1904      Summer
51  1900      Summer
52  1896      Summer

# DimAthlete

In [6]:
# DimAthlete (fullname, gender)
gender_map = {
    'Mixed': 'Mixed',
    'Women': 'Female',
    'Men': 'Male'
}
olympic_medals_df['gender'] = olympic_medals_df['event_gender'].map(gender_map)
dim_athlete_df = olympic_medals_df[['athlete_full_name', 'gender']].drop_duplicates().rename(columns={'athlete_full_name': 'full_name'})
dim_athlete_df = dim_athlete_df.dropna(subset=['gender'])

# Replace NULL with 'Team Event' for 'full_name'
dim_athlete_df.fillna({'full_name': 'Team Event'}, inplace=True)

dim_athlete_df = dim_athlete_df[['full_name', 'gender']]
dim_athlete_df.to_sql('dimathlete', trg_engine, if_exists='append', index=False)
print("DimAthlete populated successfully.")
dim_athlete_df

DimAthlete populated successfully.

                     full_name gender
0         Stefania CONSTANTINI  Mixed
1                 Amos MOSANER  Mixed
2             Kristin SKASLIEN  Mixed
3           Magnus NEDREGOTTEN  Mixed
4                Almida DE VAL  Mixed
...                        ...    ...
12830    Konstantinos PASPATIS   Male
12832  Dimitrios PETROKOKKINOS   Male
12834          Georgios TSITAS   Male
12835   Stefanos Khristopoulos   Male
12837  Alexandros Nikolopoulos   Male

[7395 rows x 2 columns]

# DimEvent

In [7]:
# DimEvent (event_id, discipline, game_slug)
dim_event_df = olympic_medals_df[['event_title', 'discipline_title', 'slug_game']].drop_duplicates()
dim_event_df = dim_event_df.rename(columns={'discipline_title': 'discipline', 'slug_game': 'game_slug'})
dim_event_df.to_sql('dimevent', con=trg_engine, if_exists='append', index=False)
print("DimEvent populated successfully.")
dim_event_df

DimEvent populated successfully.

                            event_title        discipline     game_slug
0                         Mixed Doubles           Curling  beijing-2022
6                                 Women           Curling  beijing-2022
8                                   Men           Curling  beijing-2022
10                         Men's Moguls  Freestyle Skiing  beijing-2022
13               Men's Freeski Halfpipe  Freestyle Skiing  beijing-2022
...                                 ...               ...           ...
12828                       Singles men            Tennis   athens-1896
12831                       doubles men            Tennis   athens-1896
12833  Unlimited Class, Greco-Roman Men         Wrestling   athens-1896
12836   heavyweight - one hand lift men     Weightlifting   athens-1896
12838   heavyweight - two hand lift men     Weightlifting   athens-1896

[5820 rows x 3 columns]

# FactMedalWins

In [8]:
dim_country_df = extract('SELECT * FROM DimCountry', trg_engine)
dim_athlete_df = extract('SELECT * FROM DimAthlete', trg_engine)
dim_event_df = extract('SELECT * FROM DimEvent', trg_engine)
dim_time_df = extract('SELECT * FROM DimTime', trg_engine)

2024-03-24 11:08:19,200 - INFO - Data extracted successfully for query: SELECT * FROM DimCountry
2024-03-24 11:08:19,216 - INFO - Data extracted successfully for query: SELECT * FROM DimAthlete
2024-03-24 11:08:19,228 - INFO - Data extracted successfully for query: SELECT * FROM DimEvent
2024-03-24 11:08:19,231 - INFO - Data extracted successfully for query: SELECT * FROM DimTime

In [9]:
country_id_map = dim_country_df.set_index('country_name')['country_id'].to_dict()
athlete_id_map = dim_athlete_df.set_index('full_name')['athlete_id'].to_dict()
event_id_map = dim_event_df.set_index('event_title')['event_id'].to_dict()
time_id_map = dim_time_df.set_index('year')['time_id'].to_dict()

In [10]:
olympic_medals_df['country_id'] = olympic_medals_df['country_name'].map(country_id_map)
olympic_medals_df.fillna({'athlete_full_name': 'Team Event'}, inplace=True)
olympic_medals_df['athlete_id'] = olympic_medals_df['athlete_full_name'].map(athlete_id_map)
olympic_medals_df['event_id'] = olympic_medals_df['event_title'].map(event_id_map)
olympic_medals_df['year'] = olympic_medals_df['slug_game'].str.extract(r'-(\d{4})$').astype(int)
olympic_medals_df['time_id'] = olympic_medals_df['year'].map(time_id_map)

In [11]:
fact_medal_wins_df = olympic_medals_df[['country_id', 'athlete_id', 'event_id', 'time_id', 'medal_type']]

In [12]:
fact_medal_wins_df

       country_id  athlete_id  event_id  time_id medal_type
0             100         1.0       479        1       GOLD
1             100         2.0       479        1       GOLD
2             155         3.0       479        1     SILVER
3             155         4.0       479        1     SILVER
4             201         5.0       479        1     BRONZE
...           ...         ...       ...      ...        ...
12835          78      7394.0      5818       53     BRONZE
12836          53      7388.0      5819       53     SILVER
12837          78      7395.0      5819       53     BRONZE
12838          53      7388.0      5820       53       GOLD
12839          78      7347.0      5820       53     BRONZE

[12840 rows x 5 columns]

In [13]:
fact_medal_wins_df.to_sql('factmedalwins', trg_engine, if_exists='append', index=False)
print("FactMedalWins populated successfully.")

FactMedalWins populated successfully.

# OLAP 
## Cube Set Up

In [32]:
import atoti as tt
session = tt.Session(
    user_content_storage=".content",
    port=9092,
    java_options=["-Xms1G", "-Xmx10G"]
)

2024-03-24 11:13:13,194 - WARNING - Closing existing "Unnamed" session to create the new one.
2024-03-24 11:13:13,195 - INFO - Closing down clientserver connection
2024-03-24 11:13:13,196 - INFO - Closing down clientserver connection
2024-03-24 11:13:13,197 - INFO - Closing down clientserver connection
2024-03-24 11:13:13,198 - INFO - Closing down clientserver connection
2024-03-24 11:13:13,199 - INFO - Callback Server Shutting Down
2024-03-24 11:13:13,318 - INFO - Callback Server Starting
2024-03-24 11:13:13,320 - INFO - Socket listening on ('127.0.0.1', 46599)
2024-03-24 11:13:13,320 - INFO - Closing down clientserver connection
2024-03-24 11:13:16,886 - INFO - Callback Server Starting
2024-03-24 11:13:16,888 - INFO - Socket listening on ('127.0.0.1', 34547)
2024-03-24 11:13:17,392 - INFO - Closing down clientserver connection

In [33]:
dim_country_df = extract('SELECT * FROM DimCountry', trg_engine)
dim_athlete_df = extract('SELECT * FROM DimAthlete', trg_engine)
dim_event_df = extract('SELECT * FROM DimEvent', trg_engine)
dim_time_df = extract('SELECT * FROM DimTime', trg_engine)
fact_medal_wins_df = extract('SELECT * FROM FactMedalWins', trg_engine)

# Load your dimension tables
dim_country_table = session.read_pandas(
    dim_country_df,
    table_name="Country",
    keys=["country_id"]
)
dim_athlete_table = session.read_pandas(
    dim_athlete_df,
    table_name="Athlete",
    keys=["athlete_id"]
)
dim_event_table = session.read_pandas(
    dim_event_df,
    table_name="Event",
    keys=["event_id"]
)
# dim_time_table = session.read_pandas(
#     dim_time_df,
#     table_name="Time",
#     keys=["time_id"]
# )
dim_time_table = session.read_pandas(
    dim_time_df,
    table_name="Time",
    keys=["time_id"],
    types={"year": tt.type.INT, "game_season": tt.type.STRING},
    default_values={"year": 0}  # Replace some_default_value with an actual integer representing a year.
)
fact_medal_wins_table = session.read_pandas(
    fact_medal_wins_df,
    table_name="MedalWins",
    keys=["medal_win_id"]
)

2024-03-24 11:13:27,132 - INFO - Data extracted successfully for query: SELECT * FROM DimCountry
2024-03-24 11:13:27,163 - INFO - Data extracted successfully for query: SELECT * FROM DimAthlete
2024-03-24 11:13:27,188 - INFO - Data extracted successfully for query: SELECT * FROM DimEvent
2024-03-24 11:13:27,192 - INFO - Data extracted successfully for query: SELECT * FROM DimTime
2024-03-24 11:13:27,235 - INFO - Data extracted successfully for query: SELECT * FROM FactMedalWins

In [34]:
# Join your fact table with the dimension tables
fact_medal_wins_table.join(dim_country_table, fact_medal_wins_table["country_id"] == dim_country_table["country_id"])
fact_medal_wins_table.join(dim_athlete_table, fact_medal_wins_table["athlete_id"] == dim_athlete_table["athlete_id"])
fact_medal_wins_table.join(dim_event_table, fact_medal_wins_table["event_id"] == dim_event_table["event_id"])
fact_medal_wins_table.join(dim_time_table, fact_medal_wins_table["time_id"] == dim_time_table["time_id"])

# Create the cube
cube = session.create_cube(fact_medal_wins_table)

# Define measures and levels
m = cube.measures
l = cube.levels
h = cube.hierarchies

In [35]:
session.tables.schema

erDiagram
  "MedalWins" {
    _ long PK "medal_win_id"
    nullable long "country_id"
    nullable double "athlete_id"
    nullable long "event_id"
    nullable long "time_id"
    _ String "medal_type"
  }
  "Country" {
    _ long PK "country_id"
    _ String "country_name"
    _ String "country_code"
    _ String "region"
  }
  "Event" {
    _ long PK "event_id"
    _ String "discipline"
    _ String "game_slug"
    _ String "event_title"
  }
  "Time" {
    _ long PK "time_id"
    _ int "year"
    _ String "game_season"
  }
  "Athlete" {
    _ double PK "athlete_id"
    _ String "full_name"
    _ String "gender"
  }
  "MedalWins" }o--o| "Event" : "`event_id` == `event_id`"
  "MedalWins" }o--o| "Athlete" : "`athlete_id` == `athlete_id`"
  "MedalWins" }o--o| "Country" : "`country_id` == `country_id`"
  "MedalWins" }o--o| "Time" : "`time_id` == `time_id`"

In [36]:
h

{('Athlete', 'full_name'): <atoti.hierarchy.Hierarchy object at 0x7f788716f450>, ('Event', 'game_slug'): <atoti.hierarchy.Hierarchy object at 0x7f788750f610>, ('Country', 'country_name'): <atoti.hierarchy.Hierarchy object at 0x7f788750f2d0>, ('Event', 'discipline'): <atoti.hierarchy.Hierarchy object at 0x7f788750ef90>, ('Country', 'country_code'): <atoti.hierarchy.Hierarchy object at 0x7f788750ec50>, ('Event', 'event_title'): <atoti.hierarchy.Hierarchy object at 0x7f788750e8d0>, ('MedalWins', 'medal_type'): <atoti.hierarchy.Hierarchy object at 0x7f788750e5d0>, ('Athlete', 'gender'): <atoti.hierarchy.Hierarchy object at 0x7f788750e2d0>, ('MedalWins', 'medal_win_id'): <atoti.hierarchy.Hierarchy object at 0x7f788750dfd0>, ('Time', 'game_season'): <atoti.hierarchy.Hierarchy object at 0x7f788750dc90>, ('Country', 'region'): <atoti.hierarchy.Hierarchy object at 0x7f788750d950>}

# Hierarchies Clean Up

In [37]:
h["Athlete"] = [l["Athlete", "gender", "gender"], l["Athlete", "full_name", "full_name"]]
h["Country"] = [l["Country", "region", "region"], l["Country", "country_name", "country_name"], l["Country", "country_code", "country_code"]]
h["Event"] = [l["Event", "discipline", "discipline"], l["Event", "game_slug", "game_slug"], l["Event", "event_title", "event_title"]]
h["Time"] = [dim_time_table["game_season"], dim_time_table["year"]]

In [38]:
del h[('MedalWins', 'medal_type')]
del h[('MedalWins', 'medal_win_id')]

In [39]:
del h[('Athlete', 'full_name')]
del h[('Athlete', 'gender')]
del h[('Country', 'country_code')]
del h[('Country', 'country_name')]
del h[('Country', 'region')]
del h[('Event', 'event_title')]
del h[('Event', 'discipline')]
del h[('Event', 'game_slug')]
del h[('Time', 'game_season')]

In [40]:
h

{('Country', 'Country'): <atoti.hierarchy.Hierarchy object at 0x7f7887408ad0>, ('Time', 'Time'): <atoti.hierarchy.Hierarchy object at 0x7f78874fdc10>, ('Event', 'Event'): <atoti.hierarchy.Hierarchy object at 0x7f7887511210>, ('Athlete', 'Athlete'): <atoti.hierarchy.Hierarchy object at 0x7f7887512e10>}

# Measures Cleanup

In [41]:
del m["country_id.MEAN"]
del m["country_id.SUM"]
del m["athlete_id.SUM"]
del m["athlete_id.MEAN"]
del m["event_id.SUM"]
del m["event_id.MEAN"]
del m["time_id.SUM"]
del m["time_id.MEAN"]
del m["contributors.COUNT"]

In [42]:
m["Total Medals"] = tt.agg.count_distinct(fact_medal_wins_table["medal_win_id"])

# 1. Which country has won the most medals in a specific discipline over all Olympic Games?
m["Top Country by Discipline"] = tt.agg.max_member(
    m["Total Medals"], 
    l["country_name"]
)

# 2. Which discipline has gotten the most medals for a specific country for all Olympic Games?
m["Total Medals by Discipline"] = tt.agg.sum(
    m["Total Medals"],
    scope=tt.OriginScope(l["discipline"], l["region"])
)
m["Top Discipline per Region"] = tt.agg.max_member(
    m["Total Medals by Discipline"], 
    l["discipline"]
)

# 5. How has the performance (in terms of medals won) of a specific country evolved over different Olympic Games?
m["Medals per Game"] = tt.agg.count_distinct(
    fact_medal_wins_table["medal_win_id"]
)

/opt/conda/lib/python3.11/site-packages/pydantic/_internal/_dataclasses.py:135: FutureWarning: The variadic constructor is deprecated, pass a named `levels` parameter instead.
  s.__pydantic_validator__.validate_python(ArgsKwargs(args, kwargs), self_instance=s)

In [43]:
m

{'update.TIMESTAMP': <atoti.measure.Measure object at 0x7f7888b47f10>, 'Total Medals': <atoti.measure.Measure object at 0x7f7888b45c90>, '__hidden_0_LEVEL': <atoti.measure.Measure object at 0x7f7888b459d0>, '__hidden_1_LEVEL': <atoti.measure.Measure object at 0x7f7888b456d0>, 'Top Country by Discipline': <atoti.measure.Measure object at 0x7f7888b47f90>, 'Total Medals by Discipline': <atoti.measure.Measure object at 0x7f7888b47d10>, '__hidden_2_LEVEL': <atoti.measure.Measure object at 0x7f7888b45550>, 'Top Discipline per Region': <atoti.measure.Measure object at 0x7f7888b455d0>, 'Medals per Game': <atoti.measure.Measure object at 0x7f7888b451d0>}

In [44]:
session.link

http://localhost:9092 (This is the session's local URL: it may not be reachable if Atoti is running on another machine.)

# Business Query

In [45]:
import pandas as pd

pd.set_option('display.max_rows', None)

In [46]:
# 1. Which country has won the most medals in a specific discipline over all Olympic Games?
top_country_by_discipline = cube.query(
    m["Total Medals"],
    m["Top Country by Discipline"],
    levels=[l["discipline"]],
    filter=l["discipline"] == "Athletics"
)
top_country_by_discipline.sort_values("Total Medals", ascending=False)

            Total Medals Top Country by Discipline
discipline
Athletics           1566                   Finland

In [47]:
top_country_by_discipline = cube.query(
    m["Total Medals"],
    m["Top Country by Discipline"],
    levels=[l["discipline"]],
)
top_country_by_discipline.sort_values("Total Medals", ascending=False)

                           Total Medals Top Country by Discipline
discipline
Athletics                          1566                   Finland
Wrestling                           844                    Sweden
Swimming                            828                 Australia
Rowing                              684                   Germany
Boxing                              641                      Cuba
Canoe Sprint                        614                   Hungary
Cycling Track                       593                    France
Sailing                             538                    France
Fencing                             486                     Italy
Gymnastics Artistic                 481                     Japan
Shooting                            467                    Sweden
Alpine Skiing                       438                   Austria
Judo                                421                     Japan
Weightlifting                       391                  Bulgaria
Cross Country Skiing                363                    Norway
Tennis                              302                   Germany
Speed skating                       289               Netherlands
Equestrian Jumping                  267                   Germany
Biathlon                            173                   Germany
Figure skating                      161                    Canada
Bobsleigh                           148                   Germany
Cycling Road                        148                     Italy
Diving                              139                   Germany
Ski Jumping                         138                    Norway
Golf                                129                    Norway
Ice Hockey                          122                    Canada
Freestyle Skiing                    110                    Canada
Snowboard                           102                    Canada
Taekwondo                            98                    Turkey
Canoe Slalom                         97                    France
Archery                              95                    France
Luge                                 89                   Germany
Modern Pentathlon                    75                    Sweden
Football                             73                    Brazil
Hockey                               70               Netherlands
Water Polo                           56                   Hungary
Nordic Combined                      54                   Germany
Beach Volleyball                     48                    Brazil
Curling                              45                    Canada
Synchronized Swimming                45                     Japan
Handball                             42                    Norway
Volleyball                           41                    Brazil
Cycling Mountain Bike                38               Switzerland
Basketball                           35                    Brazil
Canoe Marathon                       27                   Hungary
Karate                               26                    Turkey
Short Track                          25               Netherlands
Short Track Speed Skating            21                    Canada
Marathon Swimming                    19               Netherlands
Artistic Gymnastics                  15                     Japan
Gymnastics Rhythmic                  12                  Bulgaria
Skateboarding                        12                     Japan
Equestrian                           11                   Germany
Equestrian Eventing                  10                   Germany
Baseball                              9                      Cuba
Rugby                                 9                    France
Croquet                               8                    France
Softball                              7                 Australia
Equestrian  Vaulting                  6                   Belgium
Equestrian Dressage                   6                   Germany
Sport Climbing                        5                     Japan
Polo                                  4                 Argentina
Rhythmic Gymnastics                   4                     Italy
Baseball/Softball                     4                     Japan
Tug of War                            3                    Sweden
Lacrosse                              3                    Canada
Military Patrol                       3               Switzerland
Artistic Swimming                     3                   Ukraine
Basque Pelota                         2                     Spain
Triathlon                             1                    France
Water Motorsports                     1                    France

In [48]:
# 2. Which discipline has gotten the most medals for a specific region for all Olympic Games?
top_discipline_per_region = cube.query(
    m["Top Discipline per Region"],
    m["Total Medals"],
    levels=[l["region"]],
    filter=l["region"] == "Asia"
)
top_discipline_per_region.sort_values("Total Medals", ascending=False)

       Top Discipline per Region  Total Medals
region
Asia                   Wrestling          1172

In [49]:
top_discipline_per_region = cube.query(
    m["Top Discipline per Region"],
    m["Total Medals"],
    levels=[l["region"]],
)
top_discipline_per_region.sort_values("Total Medals", ascending=False)

              Top Discipline per Region  Total Medals
region
Europe                        Athletics          8989
Asia                          Wrestling          1172
North America                 Athletics          1079
Oceania                        Swimming           805
Africa                        Athletics           436
South America                   Sailing           359

In [50]:
# 3. How does the medal distribution across gender categories compare within a 
#    specific discipline over the latest 6 game years?
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

In [51]:
# 4. How has the performance (in terms of medals won) of a specific country evolved over specific discipline?
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.