In [54]:
import pandas as pd
from sqlalchemy import create_engine,text
import logging
import numpy as np

# Setup logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s - %(levelname)s - %(message)s')

# DB connection
src_db = 'postgresql://postgres:postgres@pgdb:5432/Olympics'
trg_db = 'postgresql://postgres:postgres@pgdb:5432/OlympicsDW'

src_engine = create_engine(src_db)
trg_engine = create_engine(trg_db)

In [55]:
def extract(query, engine):
    """Extract data from the source database."""
    try:
        df = pd.read_sql_query(query, con=engine)
        logging.info(f"Data extracted successfully for query: {query}")
        return df
    except Exception as e:
        logging.error(f"Error extracting data: {e}")
        raise

def load(df, table_name, engine):
    """Load data into the target database."""
    try:
        df.to_sql(table_name, con=engine, if_exists='replace', index=False)
        logging.info(f"Data loaded into {table_name}")
    except Exception as e:
        logging.error(f"Error loading data into {table_name}: {e}")
        raise

In [56]:
# Extract source data
global_population_df = extract('SELECT * FROM globalpopulation', src_engine)
life_expectancy_df = extract('SELECT * FROM lifeexpectancy', src_engine)
list_of_countries_df = extract('SELECT * FROM listofcountriesareasbycontinent', src_engine)
mental_illness_df = extract('SELECT * FROM mentalillness', src_engine)
olympic_hosts_df = extract('SELECT * FROM olympichosts', src_engine)
olympic_medals_df = extract('SELECT * FROM olympicmedals', src_engine)
economic_df = extract('SELECT * FROM economic', src_engine)

2024-03-26 09:21:04,963 - INFO - Data extracted successfully for query: SELECT * FROM globalpopulation
2024-03-26 09:21:05,031 - INFO - Data extracted successfully for query: SELECT * FROM lifeexpectancy
2024-03-26 09:21:05,034 - INFO - Data extracted successfully for query: SELECT * FROM listofcountriesareasbycontinent
2024-03-26 09:21:05,091 - INFO - Data extracted successfully for query: SELECT * FROM mentalillness
2024-03-26 09:21:05,097 - INFO - Data extracted successfully for query: SELECT * FROM olympichosts
2024-03-26 09:21:05,145 - INFO - Data extracted successfully for query: SELECT * FROM olympicmedals
2024-03-26 09:21:05,151 - INFO - Data extracted successfully for query: SELECT * FROM economic

# DimCountry

In [57]:
# DimCountry(country_name, country_code, region)

# Rename col for consistency
olympic_medals_df_ = olympic_medals_df.rename(columns={'country_code': 'country_code_2', 'country_3_letter_code': 'country_code'})
life_expectancy_df_ = life_expectancy_df.rename(columns={'entity': 'country_name', 'country_3_letter_code': 'country_code'})
economic_df_ = economic_df.rename(columns={'country_3_letter_code': 'country_code'})

combined_df = list_of_countries_df.rename(columns={'country': 'country_name'}).copy()

# Merge with olympic medals for country code
combined_df = pd.merge(combined_df, olympic_medals_df_[['country_name', 'country_code']].drop_duplicates(), on='country_name', how='left')

# Merge + Prioritize non-null values
combined_df = pd.merge(combined_df, life_expectancy_df_[['country_name', 'country_code']].drop_duplicates(), on='country_name', how='left', suffixes=('', '_from_life'))
combined_df['country_code'] = combined_df.apply(lambda row: row['country_code'] if pd.notna(row['country_code']) else row['country_code_from_life'], axis=1)
combined_df.drop(columns='country_code_from_life', inplace=True)
combined_df = pd.merge(combined_df, economic_df_[['country_name', 'country_code']].drop_duplicates(), on='country_name', how='left', suffixes=('', '_from_econ'))
combined_df['country_code'] = combined_df.apply(lambda row: row['country_code'] if pd.notna(row['country_code']) else row['country_code_from_econ'], axis=1)
combined_df.drop(columns='country_code_from_econ', inplace=True)

# No duplicate country_name
combined_df = combined_df.drop_duplicates(subset=['country_name'], keep='first')
combined_df = combined_df[['country_name', 'country_code', 'region']]
combined_df = combined_df.sort_values(by=['country_name', 'country_code']).drop_duplicates(subset=['country_name'], keep='last')

# Reordering region and country name alphabetically
combined_df = combined_df.sort_values(by=['region', 'country_name'], ascending=[True, True])

combined_df.head(10)

                 country_name country_code  region
33                    Algeria          ALG  Africa
40                     Angola          AGO  Africa
76                      Benin          BEN  Africa
142                  Botswana          BOT  Africa
59               Burkina Faso          BUR  Africa
77                    Burundi          BDI  Africa
52                   Cameroon          CMR  Africa
170                Cape Verde          CPV  Africa
115  Central African Republic          CAF  Africa
66                       Chad          TCD  Africa

In [58]:
combined_df.to_sql('dimcountry', trg_engine, if_exists='append', index=False, method='multi')
print("Data successfully loaded into DimCountry.")

Data successfully loaded into DimCountry.

# DimTime

In [59]:
# DimTime (year, game_season)
olympic_hosts_simple = olympic_hosts_df[['game_slug', 'game_year']].drop_duplicates()
olympic_medals_df = pd.merge(olympic_medals_df, olympic_hosts_simple, left_on='slug_game', right_on='game_slug', how='left')
olympic_medals_df.rename(columns={'game_year': 'year'}, inplace=True)
dim_time_df = olympic_hosts_df.drop_duplicates().rename(columns={'game_year': 'year'})
dim_time_df = dim_time_df.sort_values(by=['year'], ascending=True)
dim_time_df = dim_time_df[['year', 'game_season']]
dim_time_df.head(10)

    year game_season
52  1896      Summer
51  1900      Summer
50  1904      Summer
49  1908      Summer
48  1912      Summer
47  1920      Summer
46  1924      Winter
45  1924      Summer
44  1928      Winter
43  1928      Summer

In [60]:
dim_time_df.to_sql('dimtime', trg_engine, if_exists='append', index=False)
print("DimTime populated successfully.")

DimTime populated successfully.

# DimAthlete

In [61]:
# DimAthlete (fullname, gender)
gender_map = {
    'Mixed': 'Mixed',
    'Women': 'Female',
    'Men': 'Male'
}
olympic_medals_df['gender'] = olympic_medals_df['event_gender'].map(gender_map)
olympic_medals_df.fillna({'gender': 'Team Event'}, inplace=True)
dim_athlete_df = olympic_medals_df[['athlete_full_name', 'gender']].drop_duplicates().rename(columns={'athlete_full_name': 'full_name'})
dim_athlete_df['full_name'] = dim_athlete_df['full_name'].replace('- -', np.nan)
dim_athlete_df['full_name'] = dim_athlete_df['full_name'].replace(r'^-\s.*', np.nan, regex=True)
dim_athlete_df.dropna(subset=['full_name'], inplace=True)
dim_athlete_df = dim_athlete_df.sort_values(by=['gender', 'full_name'], ascending=[True, True])

dim_athlete_df = dim_athlete_df[['full_name', 'gender']]
dim_athlete_df.head(10)

                      full_name  gender
8765              Aagje Ada KOK  Female
2658                Abir KHALIL  Female
459             Abishag SEMBERG  Female
2472             Adela SYKOROVA  Female
9509    Adelheid Barbara SCHMID  Female
2569             Adriana ARAUJO  Female
4344              Adriana BEHAR  Female
4040  Adriana CARMONA GUTIERREZ  Female
456     Adriana CEREZO IGLESIAS  Female
7075           Adriana DUNAVSKA  Female

In [62]:
dim_athlete_df.to_sql('dimathlete', trg_engine, if_exists='append', index=False)
print("DimAthlete populated successfully.")

DimAthlete populated successfully.

# DimEvent

In [63]:
# DimEvent (event_id, discipline, event_title)
dim_event_df = olympic_medals_df[['event_title', 'discipline_title']].drop_duplicates()
dim_event_df = dim_event_df.rename(columns={'discipline_title': 'discipline'})
dim_event_df = dim_event_df.sort_values(by=['discipline'], ascending=[True])
dim_event_df = dim_event_df[['discipline', 'event_title']]
dim_event_df.head(10)

          discipline           event_title
1003  3x3 Basketball                   Men
2864   Alpine Skiing    alpin combined men
2020   Alpine Skiing   alpine combined men
2023   Alpine Skiing            slalom men
1204   Alpine Skiing      Ladies’ Downhill
1202   Alpine Skiing  Ladies’ Giant Slalom
1199   Alpine Skiing        Ladies’ Slalom
1196   Alpine Skiing         Men’s Super-G
1193   Alpine Skiing          Men’s Slalom
166    Alpine Skiing  Women's Giant Slalom

In [64]:
dim_event_df.to_sql('dimevent', con=trg_engine, if_exists='append', index=False)
print("DimEvent populated successfully.")

DimEvent populated successfully.

# DimHost

In [67]:
# DimHost (host_id, game_slug, game_year, game_location)
olympic_hosts_simple = olympic_hosts_df[['game_slug', 'game_location']].drop_duplicates()
olympic_medals_df = pd.merge(olympic_medals_df, olympic_hosts_simple, left_on='slug_game', right_on='game_slug', how='left')
dim_host_df = olympic_hosts_df.drop_duplicates()
dim_host_df = dim_host_df.sort_values(by=['game_slug'], ascending=True)
dim_host_df = dim_host_df[['game_slug', 'game_location']]
dim_host_df.head(10)

           game_slug  game_location
16  albertville-1992         France
43    amsterdam-1928    Netherlands
47      antwerp-1920        Belgium
52       athens-1896         Greece
9        athens-2004         Greece
13      atlanta-1996  United States
15    barcelona-1992          Spain
7       beijing-2008          China
0       beijing-2022          China
39       berlin-1936        Germany

In [68]:
dim_host_df.to_sql('dimhost', con=trg_engine, if_exists='append', index=False)
print("DimHost populated successfully.")

DimHost populated successfully.

# FactMedalWins

In [69]:
dim_country_df = extract('SELECT * FROM DimCountry', trg_engine)
dim_athlete_df = extract('SELECT * FROM DimAthlete', trg_engine)
dim_event_df = extract('SELECT * FROM DimEvent', trg_engine)
dim_time_df = extract('SELECT * FROM DimTime', trg_engine)
dim_host_df = extract('SELECT * FROM DimHost', trg_engine)

2024-03-26 09:21:28,028 - INFO - Data extracted successfully for query: SELECT * FROM DimCountry
2024-03-26 09:21:28,046 - INFO - Data extracted successfully for query: SELECT * FROM DimAthlete
2024-03-26 09:21:28,050 - INFO - Data extracted successfully for query: SELECT * FROM DimEvent
2024-03-26 09:21:28,053 - INFO - Data extracted successfully for query: SELECT * FROM DimTime
2024-03-26 09:21:28,056 - INFO - Data extracted successfully for query: SELECT * FROM DimHost

In [70]:
country_id_map = dim_country_df.set_index('country_name')['country_id'].to_dict()
athlete_id_map = dim_athlete_df.set_index('full_name')['athlete_id'].to_dict()
event_id_map = dim_event_df.set_index('event_title')['event_id'].to_dict()
time_id_map = dim_time_df.set_index('year')['time_id'].to_dict()
host_id_map = dim_host_df.set_index('game_slug')['host_id'].to_dict()

In [71]:
olympic_medals_df

,medal_id,discipline_title,slug_game,event_title,event_gender,medal_type,participant_type,participant_title,athlete_url,athlete_full_name,country_name,country_code,country_3_letter_code,game_slug_x,year,gender,game_slug_y,game_location_x,game_slug,game_location_y
0,1,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/stefania-cons...,Stefania CONSTANTINI,Italy,IT,ITA,beijing-2022,2022,Mixed,beijing-2022,China,beijing-2022,China
1,2,Curling,beijing-2022,Mixed Doubles,Mixed,GOLD,GameTeam,Italy,https://olympics.com/en/athletes/amos-mosaner,Amos MOSANER,Italy,IT,ITA,beijing-2022,2022,Mixed,beijing-2022,China,beijing-2022,China
2,3,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/kristin-skaslien,Kristin SKASLIEN,Norway,NO,NOR,beijing-2022,2022,Mixed,beijing-2022,China,beijing-2022,China
3,4,Curling,beijing-2022,Mixed Doubles,Mixed,SILVER,GameTeam,Norway,https://olympics.com/en/athletes/magnus-nedreg...,Magnus NEDREGOTTEN,Norway,NO,NOR,beijing-2022,2022,Mixed,beijing-2022,China,beijing-2022,China
4,5,Curling,beijing-2022,Mixed Doubles,Mixed,BRONZE,GameTeam,Sweden,https://olympics.com/en/athletes/almida-de-val,Almida DE VAL,Sweden,SE,SWE,beijing-2022,2022,Mixed,beijing-2022,China,beijing-2022,China
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12835,21691,Wrestling,athens-1896,"Unlimited Class, Greco-Roman Men",Men,BRONZE,Athlete,None,None,Stefanos Khristopoulos,Greece,GR,GRE,athens-1896,1896,Male,athens-1896,Greece,athens-1896,Greece
12836,21693,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,SILVER,Athlete,None,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN,athens-1896,1896,Male,athens-1896,Greece,athens-1896,Greece
12837,21694,Weightlifting,athens-1896,heavyweight - one hand lift men,Men,BRONZE,Athlete,None,None,Alexandros Nikolopoulos,Greece,GR,GRE,athens-1896,1896,Male,athens-1896,Greece,athens-1896,Greece
12838,21695,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,GOLD,Athlete,None,https://olympics.com/en/athletes/viggo-jensen,Viggo JENSEN,Denmark,DK,DEN,athens-1896,1896,Male,athens-1896,Greece,athens-1896,Greece
12839,21697,Weightlifting,athens-1896,heavyweight - two hand lift men,Men,BRONZE,Athlete,None,https://olympics.com/en/athletes/sotirios-versis,Sotirios VERSIS,Greece,GR,GRE,athens-1896,1896,Male,athens-1896,Greece,athens-1896,Greece

In [72]:
olympic_medals_df['country_id'] = olympic_medals_df['country_name'].map(country_id_map)
olympic_medals_df.fillna({'athlete_full_name': 'Team Event'}, inplace=True)
olympic_medals_df['athlete_id'] = olympic_medals_df['athlete_full_name'].map(athlete_id_map)
olympic_medals_df['event_id'] = olympic_medals_df['event_title'].map(event_id_map)
olympic_medals_df['time_id'] = olympic_medals_df['year'].map(time_id_map)
olympic_medals_df['host_id'] = olympic_medals_df['game_slug_x'].map(host_id_map)

In [73]:
fact_medal_wins_df = olympic_medals_df[['country_id', 'athlete_id', 'event_id', 'time_id', 'host_id', 'medal_type']]
fact_medal_wins_df = fact_medal_wins_df.dropna()
fact_medal_wins_df['athlete_id'] = fact_medal_wins_df['athlete_id'].astype(int)

In [74]:
fact_medal_wins_df.head(20)

    country_id  athlete_id  event_id  time_id  host_id medal_type
0          131        7368      1232       53        9       GOLD
1          131        7260      1232       53        9       GOLD
2          143        7310      1232       53        9     SILVER
3          143        7324      1232       53        9     SILVER
4          153        7259      1232       53        9     BRONZE
5          153        7349      1232       53        9     BRONZE
10         166        5474       612       53        9     SILVER
11         153        7032       612       53        9       GOLD
12          74        4155       612       53        9     BRONZE
13         209        5613       611       53        9       GOLD
14         153        4020       623       53        9     BRONZE
15         143        2640       623       53        9       GOLD
16         154        2163       602       53        9     SILVER
17         154        6302       602       53        9       GOLD
18         154        1293       599       53        9     BRONZE
19         122        1797       599       53        9     SILVER
20         199         829       620       53        9       GOLD
22         166        1234       624       53        9     SILVER
23         153        1627       624       53        9       GOLD
24         123         404       624       53        9     BRONZE

In [75]:
fact_medal_wins_df.to_sql('factmedalwins', trg_engine, if_exists='append', index=False)
print("FactMedalWins populated successfully.")

FactMedalWins populated successfully.

# OLAP 
## Cube Set Up

In [76]:
import atoti as tt
session = tt.Session(
    user_content_storage=".content",
    port=9092,
    java_options=["-Xms1G", "-Xmx10G"]
)

Welcome to Atoti 0.8.10!

By using this community edition, you agree with the license available at https://docs.atoti.io/latest/eula.html.
Browse the official documentation at https://docs.atoti.io.
Join the community at https://www.atoti.io/register.

Atoti collects telemetry data, which is used to help understand how to improve the product.
If you don't wish to send usage data, you can request a trial license at https://www.atoti.io/evaluation-license-request.

You can hide this message by setting the `ATOTI_HIDE_EULA_MESSAGE` environment variable to True.

2024-03-26 09:22:27,448 - INFO - Callback Server Starting
2024-03-26 09:22:27,450 - INFO - Socket listening on ('127.0.0.1', 45427)
2024-03-26 09:22:27,451 - INFO - Closing down clientserver connection
2024-03-26 09:22:31,313 - INFO - Callback Server Starting
2024-03-26 09:22:31,314 - INFO - Socket listening on ('127.0.0.1', 46069)
2024-03-26 09:22:31,870 - INFO - Closing down clientserver connection

In [77]:
dim_country_df = extract('SELECT * FROM DimCountry', trg_engine)
dim_athlete_df = extract('SELECT * FROM DimAthlete', trg_engine)
dim_event_df = extract('SELECT * FROM DimEvent', trg_engine)
dim_time_df = extract('SELECT * FROM DimTime', trg_engine)
dim_host_df = extract('SELECT * FROM DimHost', trg_engine)
fact_medal_wins_df = extract('SELECT * FROM FactMedalWins', trg_engine)

# Load dimension tables
dim_country_table = session.read_pandas(
    dim_country_df,
    table_name="Country",
    keys=["country_id"]
)
dim_athlete_table = session.read_pandas(
    dim_athlete_df,
    table_name="Athlete",
    keys=["athlete_id"]
)
dim_event_table = session.read_pandas(
    dim_event_df,
    table_name="Event",
    keys=["event_id"]
)
dim_time_table = session.read_pandas(
    dim_time_df,
    table_name="Time",
    keys=["time_id"],
    types={"year": tt.type.INT, "game_season": tt.type.STRING},
    default_values={"year": 0}
)
dim_host_table = session.read_pandas(
    dim_host_df,
    table_name="Host",
    keys=["host_id"]
)
fact_medal_wins_table = session.read_pandas(
    fact_medal_wins_df,
    table_name="MedalWins",
    keys=["medal_win_id"]
)

2024-03-26 09:23:30,639 - INFO - Data extracted successfully for query: SELECT * FROM DimCountry
2024-03-26 09:23:30,652 - INFO - Data extracted successfully for query: SELECT * FROM DimAthlete
2024-03-26 09:23:30,658 - INFO - Data extracted successfully for query: SELECT * FROM DimEvent
2024-03-26 09:23:30,661 - INFO - Data extracted successfully for query: SELECT * FROM DimTime
2024-03-26 09:23:30,664 - INFO - Data extracted successfully for query: SELECT * FROM DimHost
2024-03-26 09:23:30,733 - INFO - Data extracted successfully for query: SELECT * FROM FactMedalWins

In [78]:
# Join fact table with the dimension tables
fact_medal_wins_table.join(dim_country_table, fact_medal_wins_table["country_id"] == dim_country_table["country_id"])
fact_medal_wins_table.join(dim_athlete_table, fact_medal_wins_table["athlete_id"] == dim_athlete_table["athlete_id"])
fact_medal_wins_table.join(dim_event_table, fact_medal_wins_table["event_id"] == dim_event_table["event_id"])
fact_medal_wins_table.join(dim_time_table, fact_medal_wins_table["time_id"] == dim_time_table["time_id"])
fact_medal_wins_table.join(dim_host_table, fact_medal_wins_table["host_id"] == dim_host_table["host_id"])

# Create cube
cube = session.create_cube(fact_medal_wins_table)

# Define measures and levels
m = cube.measures
l = cube.levels
h = cube.hierarchies

In [79]:
session.tables.schema

erDiagram
  "MedalWins" {
    _ long PK "medal_win_id"
    nullable long "country_id"
    nullable long "athlete_id"
    nullable long "event_id"
    nullable long "time_id"
    nullable long "host_id"
    _ String "medal_type"
  }
  "Country" {
    _ long PK "country_id"
    _ String "country_name"
    _ String "country_code"
    _ String "region"
  }
  "Event" {
    _ long PK "event_id"
    _ String "discipline"
    _ String "event_title"
  }
  "Time" {
    _ long PK "time_id"
    _ int "year"
    _ String "game_season"
  }
  "Host" {
    _ long PK "host_id"
    _ String "game_slug"
    _ String "game_location"
  }
  "Athlete" {
    _ long PK "athlete_id"
    _ String "full_name"
    _ String "gender"
  }
  "MedalWins" }o--o| "Event" : "`event_id` == `event_id`"
  "MedalWins" }o--o| "Host" : "`host_id` == `host_id`"
  "MedalWins" }o--o| "Athlete" : "`athlete_id` == `athlete_id`"
  "MedalWins" }o--o| "Country" : "`country_id` == `country_id`"
  "MedalWins" }o--o| "Time" : "`time_id` == `time_id`"

In [80]:
h

{('Athlete', 'full_name'): <atoti.hierarchy.Hierarchy object at 0x7f46e983d0d0>, ('Host', 'game_slug'): <atoti.hierarchy.Hierarchy object at 0x7f46e87638d0>, ('Event', 'discipline'): <atoti.hierarchy.Hierarchy object at 0x7f46e983efd0>, ('Country', 'country_name'): <atoti.hierarchy.Hierarchy object at 0x7f46e983e410>, ('Country', 'country_code'): <atoti.hierarchy.Hierarchy object at 0x7f46e983e5d0>, ('Event', 'event_title'): <atoti.hierarchy.Hierarchy object at 0x7f46e9890290>, ('MedalWins', 'medal_type'): <atoti.hierarchy.Hierarchy object at 0x7f46e8749b90>, ('Athlete', 'gender'): <atoti.hierarchy.Hierarchy object at 0x7f46e8749050>, ('MedalWins', 'medal_win_id'): <atoti.hierarchy.Hierarchy object at 0x7f46e874bc90>, ('Host', 'game_location'): <atoti.hierarchy.Hierarchy object at 0x7f46e8749c50>, ('Time', 'game_season'): <atoti.hierarchy.Hierarchy object at 0x7f46e874a5d0>, ('Country', 'region'): <atoti.hierarchy.Hierarchy object at 0x7f46e8773650>}

# Hierarchies Clean Up

In [81]:
h["Athlete"] = [l["Athlete", "gender", "gender"], l["Athlete", "full_name", "full_name"]]
h["Country"] = [l["Country", "region", "region"], l["Country", "country_name", "country_name"], l["Country", "country_code", "country_code"]]
h["Event"] = [l["Event", "discipline", "discipline"], l["Event", "event_title", "event_title"]]
h["Time"] = [dim_time_table["game_season"], dim_time_table["year"]]
h["Host"] = [l["Host", "game_slug", "game_slug"], l["Host", "game_location", "game_location"]]

In [82]:
del h[('MedalWins', 'medal_type')]
del h[('MedalWins', 'medal_win_id')]

In [83]:
del h[('Athlete', 'full_name')]
del h[('Athlete', 'gender')]
del h[('Country', 'country_code')]
del h[('Country', 'country_name')]
del h[('Country', 'region')]
del h[('Event', 'event_title')]
del h[('Event', 'discipline')]
del h[('Time', 'game_season')]
del h[('Host', 'game_slug')]
del h[('Host', 'game_location')]

In [84]:
h

{('Host', 'Host'): <atoti.hierarchy.Hierarchy object at 0x7f46e9813450>, ('Country', 'Country'): <atoti.hierarchy.Hierarchy object at 0x7f46e987bf90>, ('Time', 'Time'): <atoti.hierarchy.Hierarchy object at 0x7f46e9879890>, ('Event', 'Event'): <atoti.hierarchy.Hierarchy object at 0x7f46eabca5d0>, ('Athlete', 'Athlete'): <atoti.hierarchy.Hierarchy object at 0x7f46e980ef90>}

# Measures Cleanup

In [85]:
m

{'contributors.COUNT': <atoti.measure.Measure object at 0x7f46e87743d0>, 'update.TIMESTAMP': <atoti.measure.Measure object at 0x7f46e8739050>, 'time_id.MEAN': <atoti.measure.Measure object at 0x7f46f09ece90>, 'time_id.SUM': <atoti.measure.Measure object at 0x7f46e8738750>, 'host_id.MEAN': <atoti.measure.Measure object at 0x7f46e8777a10>, 'host_id.SUM': <atoti.measure.Measure object at 0x7f46e8777f10>, 'event_id.MEAN': <atoti.measure.Measure object at 0x7f46e8777bd0>, 'event_id.SUM': <atoti.measure.Measure object at 0x7f46e8774f10>, 'country_id.MEAN': <atoti.measure.Measure object at 0x7f46e8774b90>, 'country_id.SUM': <atoti.measure.Measure object at 0x7f46e8774190>, 'athlete_id.MEAN': <atoti.measure.Measure object at 0x7f46e8774fd0>, 'athlete_id.SUM': <atoti.measure.Measure object at 0x7f46e8775310>}

In [87]:
del m["country_id.MEAN"]
del m["country_id.SUM"]
del m["athlete_id.SUM"]
del m["athlete_id.MEAN"]
del m["event_id.SUM"]
del m["event_id.MEAN"]
del m["time_id.SUM"]
del m["time_id.MEAN"]
del m["host_id.SUM"]
del m["host_id.MEAN"]
del m["contributors.COUNT"]

In [88]:
m["Total Medals"] = tt.agg.count_distinct(fact_medal_wins_table["medal_win_id"])

# 1. Which country has won the most medals in a specific discipline over all Olympic Games?
m["Top Country by Discipline"] = tt.agg.max_member(
    m["Total Medals"], 
    l["country_name"]
)

# 2. Which discipline has gotten the most medals for a specific country for all Olympic Games?
m["Total Medals by Discipline"] = tt.agg.sum(
    m["Total Medals"],
    scope=tt.OriginScope(l["discipline"], l["region"])
)
m["Top Discipline per Region"] = tt.agg.max_member(
    m["Total Medals by Discipline"], 
    l["discipline"]
)

# 4. How has the performance (in terms of medals won) of a specific country evolved over different Olympic Games?
m["Medals per Game"] = tt.agg.count_distinct(
    fact_medal_wins_table["medal_win_id"]
)

/opt/conda/lib/python3.11/site-packages/pydantic/_internal/_dataclasses.py:135: FutureWarning: The variadic constructor is deprecated, pass a named `levels` parameter instead.
  s.__pydantic_validator__.validate_python(ArgsKwargs(args, kwargs), self_instance=s)

In [89]:
m

{'update.TIMESTAMP': <atoti.measure.Measure object at 0x7f46e8772550>, 'Total Medals': <atoti.measure.Measure object at 0x7f46e8772990>, '__hidden_0_LEVEL': <atoti.measure.Measure object at 0x7f46e8771e10>, '__hidden_1_LEVEL': <atoti.measure.Measure object at 0x7f46e8772210>, 'Top Country by Discipline': <atoti.measure.Measure object at 0x7f46e8772a50>, 'Total Medals by Discipline': <atoti.measure.Measure object at 0x7f46e8772d10>, '__hidden_2_LEVEL': <atoti.measure.Measure object at 0x7f46e87700d0>, 'Top Discipline per Region': <atoti.measure.Measure object at 0x7f46e8772450>, 'Medals per Game': <atoti.measure.Measure object at 0x7f46e8773650>, 'Distinct Disciplines': <atoti.measure.Measure object at 0x7f46e8773b90>}

In [90]:
session.link

http://localhost:9092 (This is the session's local URL: it may not be reachable if Atoti is running on another machine.)

# Business Query

In [91]:
import pandas as pd

pd.set_option('display.max_rows', None)

In [92]:
# 1. Which country has won the most medals in a specific discipline over all Olympic Games?
top_country_by_discipline = cube.query(
    m["Total Medals"],
    m["Top Country by Discipline"],
    levels=[l["discipline"]],
    filter=l["discipline"] == "Wrestling"
)
top_country_by_discipline.sort_values("Total Medals", ascending=False)

            Total Medals Top Country by Discipline
discipline
Wrestling            844                    Sweden

In [93]:
# 2. Which discipline has gotten the most medals for a specific region for all Olympic Games?
top_discipline_per_region = cube.query(
    m["Top Discipline per Region"],
    m["Total Medals"],
    levels=[l["region"]],
    filter=l["region"] == "Asia"
)
top_discipline_per_region.sort_values("Total Medals", ascending=False)

       Top Discipline per Region  Total Medals
region
Asia                   Wrestling          1067

In [94]:
top_discipline_per_region = cube.query(
    m["Top Discipline per Region"],
    m["Total Medals"],
    levels=[l["region"]],
)
top_discipline_per_region.sort_values("Total Medals", ascending=False)

              Top Discipline per Region  Total Medals
region
Europe                        Athletics          7342
Asia                          Wrestling          1067
North America                 Athletics           879
Oceania                        Swimming           649
Africa                        Athletics           410
South America                    Boxing           285

In [98]:
# 3. How does the medal distribution across gender categories compare within a 
#    specific discipline over the latest 3 game years?
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.

In [96]:
# 4. How has the performance (in terms of medals won) of a specific country evolved over specific discipline?
session.widget

Open the notebook in JupyterLab with the Atoti JupyterLab extension enabled to build this widget.